body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:hsl(5, 10%, 1%) ;
    color: hsla(34, 78%, 91%, 0.77);
    font-family: Arial, Helvetica, sans-serif;
}

.navBar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    padding:5px 50px ;
    background-color: hsl(220, 100%, 11%);
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    
}

.AssetCoin{
    color: hsl(227, 85%, 50%);
    font-weight: bold;
    font-size: 2rem;
    
}
.navUl{
    list-style: none;
    display: flex;
    gap: 20px;
    transform: translateX(+50%);
    flex-shrink: 1;
    min-width: 0;
    
    
}
.navUl li{
    color: hsla(34, 78%, 91%, 0.77);
   
}
.loginBtn{
    transform: translateX(+580%);
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color:hsla(34, 78%, 91%, 0.77) ;
    background-color: hsl(0, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.8s ease;
}
.loginBtn:hover{
    color: hsl(0, 100%, 50%);
    background-color:hsla(34, 78%, 91%, 0.77) ;
}

.backImg{
    
    background-image: url(images/background2.jpg) ;
    background-size: cover;
    /* position: fixed; */
    background-position: center;
    width: 100%;
    height: 70vh;
    color: white;
    text-align: center;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
.backImg h1{
    font-weight: bold;
    line-height: 1.5em;
}

.backImg h5 {
    padding-top: 10px;
    font-weight: lighter;
}
.backImg button{
    color: hsl(0, 100%, 50%);
    font-weight: bolder;
    background-color: hsla(34, 78%, 91%, 0.77);
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.8s ease;
}
.backImg button:hover{
    color:  hsla(34, 78%, 91%, 0.77);
    background-color: hsl(0, 100%, 50%);
}
.smallCon{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 30px;
    margin-top: -30px;
    width: 100%;
}
.smallCon div{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:15% ;
    height: 150px;
    color: white;
    background-color:hsl(220, 100%, 11%) ;
    border: none;
    border-radius: 5px;
    padding: 25px;
}
.smallCon button, .expert button{
    color: hsla(34, 78%, 91%, 0.77);
    background-color: hsl(220, 100%, 11%);
    border: 1px solid hsl(0, 100%, 50%);
    border-radius: 45%;
    padding: 15px;
    transition: background-color 0.7s ease;
}
.smallCon button:hover,.expert button:hover{
    background-color: hsl(0, 100%, 50%) ;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 30px;
}
.about h4{
    color:hsl(0, 100%, 50%)  ;
}
.about h2{
    color:hsla(34, 78%, 91%, 0.77) ;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 40px;

}
.assetImg{
    width: 20rem;
    height: auto;
    border-radius: 10px;
}

.asset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 15px;
}
.choose{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
    width: 100%;
}
.choose h4{
   color:hsl(0, 100%, 50%)  ;
}
.choose h2{
    font-size: 4rem;
}
.choose p{
    font-size: 1rem;
    margin: 0 60px;
}
.planContainer, .investmentPlanContainer{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin:2rem 10rem;

}
.plan1{
    display: flex;
    flex-direction: column;
    

}
.expert{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:hsl(220, 100%, 11%) ;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: border 0.5s ease;
}
.expert:hover{
    border:0.5px solid hsl(0, 100%, 50%) ;
}
.investmentPlanContainer{
    gap: 2rem;
}
.investmentPlan{
    /* color: hsla(34, 78%, 91%, 0.77); */
    background-color:hsl(220, 100%, 11%) ;
    width: 20%;
    height: 20rem;
    padding: 2rem;
    font-weight: lighter;
    border-radius: 5px;
}
.amount{
    color: hsl(0, 100%, 50%) ;
   
}
span{
    font-size: 8px;
    
}
.investmentPlan button{
    background-color: lime;
    border: none;
    border-radius: 5px;
    color: hsla(34, 78%, 91%, 0.77);
}
button.invest{
    color: hsla(34, 78%, 91%, 0.77);
    border: 0.5px solid hsl(0, 100%, 50%);
    background-color: hsl(220, 100%, 11%);
    padding: 10px 20px;
    border-radius: 20px;
}
.poscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.posImg{
    background-image: url(images/pos.jpg);
    background-size: cover;
    /* position: fixed; */
    background-position: center;
    width: 45%;
    height: 60vh;
    text-align: center;
    justify-content: center;
}
#play{
    color: hsl(0, 100%, 50%);
    background-color:hsla(34, 78%, 91%, 0.77) ;
    border:none;
    margin-top: 30%;
    /* align-items: center; */
    /* font-size: 3rem; */
    border-radius: 50%;
    padding: 25px 30px;
    transition: background-color 0.5s ease;
    transition: 0.5s ease;

}
#play:hover{
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 100%, 50%) ;
}
.posRegister{
    width: 45%;
    height: 60vh;
    background-color:  hsl(0, 100%, 50%);
    color: hsl(0, 100%, 50%) ;
}